@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// base styles
@import './common/common.scss';
@import './common/common.standard.scss';
@import './common/common.jquery-ui.scss';
@import './common/common.bootstrap3.scss';
@import './common/common.bootstrap4.scss';
@import './toolbar.scss';
@import './view.scss';
@import './basic/basic.scss';
@import './agenda/agenda.scss';
@import './list/list.scss';

// base style
.fc {
	.fc-day-header {
		padding: 10px;
	}

	.fc-event {
		position: relative;

		.event-close {
			position: absolute;
			display: inline-block;
			text-align: center;
			width: 15px;
			height: 15px;
			line-height: px-to-rem( 15px );
			top: 0;
			right: 5px;
			transform: translateY( 0 );
			background: inherit;
			transition: ease-in-out .2s;
			opacity: 0;
			border-radius: $border-radius;
			z-index: 2;
		}

		&:hover {
			.event-close {
				transform: translateY( -100% );
				opacity: 1;
			}
		}

		&.fc-time-grid-event {
			position: absolute;

			.event-close {
				top: 5px;
				opacity: 1;
			}

			&:hover {
				.event-close {
					transform: translateY( 0 );
					opacity: 1;
				}
			}
		}
	}
}

.fc-time-grid .fc-slats  {
	td {
		height: px-to-rem( 27px );
	}
	
	.fc-minor td {
		border-top-style: solid;
	}
}

// custom styles
.events-list {
	.fc-event + .fc-event {
		margin-top: 5px;
	}
}

// Widget calendar
.calendar-widget {
	.fc-toolbar {
		&.fc-header-toolbar {
			margin-bottom: 0;
			padding: px-to-rem( 10px );
		}
		h2 {
			font-size: px-to-rem( 18px );
			line-height: px-to-rem( 29px );
		}
	}
}

// Calendar borderless
.calendar-borderless {
	.fc-toolbar {
		&.fc-header-toolbar {
			margin-bottom: 0;
			padding: px-to-rem(10px);
		}
	}
}

// Global Event Styles
.fc-event {
	border: 1px solid $gray-500;
	padding: 5px 7px;
	cursor: pointer;
}

.fc-event,
.fc-event-dot {
	background-color: $gray-500;
}

// DayGrid events
.fc-day-grid-event {
	position: relative;
	padding: 5px 7px;
}



// Header toolbar
.fullcalendar-lg {
	.fc-toolbar.fc-header-toolbar {
		@include media-breakpoint-down(sm) {
			> *,
			> * > * {
				float: none;
			}

			> * + * {
				margin-top: 10px;
			}
		}
	}
}

// Mobile resize
.fc-view {
	//overflow-x: auto;
	overflow: auto;
	overflow: overlay;
	scrollbar-width: thin;
	scrollbar-color: rgba($black,1) rgba($black,.1);

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: rgba( $light, .5);
	}

	&::-webkit-scrollbar-corner { background-color: transparent;}
	&::-webkit-resizer { background-color: transparent;}

	.mobile &,
	&:hover {
		&::-webkit-scrollbar {
			width: 3px;
			height: 3px;
		}
	}
}

.fc-scroller {
	min-height: 300px;
	overflow: auto;
	overflow: overlay;
	scrollbar-width: thin;
	scrollbar-color: rgba($black,1) rgba($black,.1);

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: rgba( $light, .5);
	}

	&::-webkit-scrollbar-corner { background-color: transparent;}
	&::-webkit-resizer { background-color: transparent;}

	.mobile &,
	&:hover {
		&::-webkit-scrollbar {
			width: 3px;
			height: 3px;
		}
	}
}

.fc-month-view {
	table {
		min-width: 400px;
	}
}

.fc-agendaWeek-view {
	table {
		min-width: 550px;
	}
}

// Mobile show event on click
.mobile {
	.fc-day-grid-event {
		padding: 0;
		border: none;

		.fc-content {
			padding: 5px 7px;
			background-color: inherit;
			border-radius: inherit;
		}

		&:hover {
			.fc-content {
				overflow: visible;
			}
		}
	}
}

// DayGrid events
.fc-day-grid-event {
	padding: 5px 7px;
}

// Event list
* + .events-list {
	margin-top: px-to-rem( 5px );
}

// Color themes
@each $theme, $color in $theme-colors {
	.fc-event-#{$theme},
	.fc .fc-event.fc-event-#{$theme}:not([href]):not([tabindex]) {
		background: $color;
		border-color: $color;
		color: color-yiq( $color );
	}
}
