@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

.search-match {
	padding: 0 0.2em;
	background-color: rgba( $body-color, .3 );
}

.search-result-meta {
	font-size: 0.9em;

	a {
		color: $warning;

		&:hover,
		&:focus {
			color: darken( $warning, 10% );
		}
	}
}

* + .search-result {
	margin-top: px-to-rem( 30px );
	padding-top: px-to-rem( 30px );
	border-top: 1px dashed lighten( $border-color, 10% );
}

.search-result + .search-result {
	margin-top: px-to-rem( 25px );
	padding-top: px-to-rem( 25px );
	border-top: 1px dashed $border-color;
}

* + .search-result-meta { margin-top: px-to-rem( 8px ); }
.search-result * + p { margin-top: px-to-rem( 8px ); }
.search-result-title + .search-result-meta { margin-top: px-to-rem( 10px ); }

// Search aside
.search-aside {
	width: 100%;
	padding: px-to-rem( 20px, 15px );

	@include media-breakpoint-up(xl) {
		padding: px-to-rem( 35px );
	}
}
