@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// Base
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	transform: translateX( 101% );
	z-index: $zindex-fixed;
	width: 280px;
	transition: transform .2s ease-in-out;
	background: $gray-700;
	overflow: hidden;
	overflow-y: overlay;
	box-shadow: $box-shadow-sm;

	&.active {
		transform: translateX( 0 );
	}
}

// Modifiers
.sidebar-lg {
	width: 320px;
}

// Media
@include media-breakpoint-up( lg ) {
	.sidebar-close {
		display: none;
	}
}
