@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

.progress-circle-wrap {
	position: relative;
	display: inline-block;
	text-align: center;
	color: $white;
}

.progress-circle-inner {
	position: relative;
}

.progress-counter-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.progress-circle {
	.bg,
	.fg {
		stroke-width: 8px;
		fill: transparent;
	}

	.bg {
		stroke: rgba( $gray-800, .5 );
	}

	.fg {
		stroke: $gray-600;
	}
}

.progress-title {
	font-weight: 400;
}

* + .progress-title {
	margin-top: px-to-rem( 4px );
}
