@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";



// Variables
$navbar-color: $gray-100;
$navbar-bg: $primary;
$navbar-border: $white;

$navbar-hover-color: $white;
$navbar-hover-bg: darken($primary, 10%);

$navbar-title-color: $warning;
$navbar-submenu-bg: $gray-700;

$sidebar-bg: url('../../images/sidebar-bg.jpg');


$navbar-user-button-color: $white;
$navbar-user-button-bg: $info;


// Base
.rd-navbar-fixed {
  position: relative;
  z-index: $zindex-fixed;
  color: $navbar-color;

  li {
    list-style: none;
  }

  .rd-navbar-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 5px;
    min-height: 60px;
    background: $navbar-bg;
    box-shadow: $box-shadow-sm;
  }

  .rd-navbar-panel-cell {
    position: relative;
    padding: 0 7px;
  }

  .rd-navbar-panel-center {
    flex-grow: 1;
  }

  .rd-navbar-subpanel {
    position: fixed;
    top: px-to-rem(60px);
    right: 0;
    left: 0;
    transform: translateY(20px);
    display: flex;
    max-height: calc(100vh - 60px);
    visibility: hidden;
    opacity: 0;
    transition: .2s ease-in-out;
    color: $navbar-color;

    &.active {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }

    >* {
      flex-grow: 1;
    }
  }

  .rd-navbar-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-110%);
    width: px-to-rem(250px);
    padding-bottom: 40px;
    transition: transform .2s ease-in-out;
    background: $navbar-bg;
    overflow: hidden;
    overflow-y: auto;
    overflow-y: overlay;
    box-shadow: $box-shadow-sm;
    background-image: $sidebar-bg;
    background-size: cover;

    .user-menu {
      position: relative;
      margin-top: -139px;
      
      visibility: hidden;
      transition: ease-in-out .3s;
      opacity: 0;
      border-top: 1px solid $navbar-border;

      &.active {
        margin-top: 0;
        padding: 15px;
        visibility: visible;
        opacity: 1;
      }

      a {
        display: block;
        padding: 12px 5px;
        text-align: center;
        font-size: 24px;
        line-height: 24px;
        color: $navbar-color;

        &:hover {
          background: $navbar-hover-bg;
          color: $navbar-hover-color;
        }
      }
    }
  }

  .rd-navbar-sidebar-panel {
    position: relative;
    padding: 40px 15px 20px;
    text-align: center;
    z-index: 2;
  }

  .rd-navbar-nav {
    padding: 0;

    &:nth-child(3) {
      .rd-navbar-nav-item {

        &:first-child,
        &:last-child {
          border-bottom: 1px solid $navbar-border;
        }

        &:last-child {
          padding-bottom: 15px;
        }
      }
    }

    .rd-navbar-progress {
      padding: 0px 15px;
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      color: $navbar-color;
      flex-wrap: wrap;

      &.un-order {
        opacity: 0.5;

        &:hover {
          opacity: 0.7;
        }
      }

      .progress {
        width: 100%;
      }
    }
  }

  .rd-navbar-title {
    display: block;
    padding: 20px 15px;
    text-transform: uppercase;
    color: $navbar-title-color;
  }

  .rd-navbar-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px 15px;
    transition: .15s;
    color: $navbar-color;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      background: rgba($navbar-hover-bg, .3);
      color: $navbar-hover-color;
    }

    &.un-order {
      opacity: 0.5;

      &:hover {
        opacity: 0.7;
      }
    }

    &.un-success {
      position: relative;

      span {
        opacity: 0.5;
      }

      &::after {
        content: '\F5D6';
        font: normal normal normal 24px/1 "Material Design Icons";
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: $warning;
      }

      &:hover {
        span {
          opacity: 0.7;
        }
      }
    }
  }


  .rd-navbar-nav-item.active,
  .rd-navbar-nav-item.opened {
    >.rd-navbar-link {
      background: $body-bg;
      color: $primary;

      &.un-order {
        opacity: 1;
      }

      &.un-success {
        >span {
          opacity: 1;
        }

        &::after {
          color: $primary;
        }
      }
    }
  }

  .rd-navbar-icon {
    padding-right: 15px;
    font-size: px-to-rem(24px);
    line-height: 1;
  }

  .rd-navbar-submenu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 40px;
    height: 52px;
    padding: 5px;
    transition: background .15s;

    &::before {
      content: '\f054';
      position: relative;
      font-family: 'FontAwesome';
      transition: transform .2s ease-in-out;
    }

    &:hover {
      background: rgba($navbar-hover-bg, .1);
      cursor: pointer;
    }
  }

  .rd-navbar-submenu {
    position: relative;

    &.opened {
      >.rd-navbar-submenu-toggle::before {
        transform: rotate(90deg);
      }

      >.rd-navbar-dropdown {
        display: block;
      }
    }
  }
}

.rd-navbar-sidebar-active {
  .rd-navbar-sidebar {
    transform: translateX(0);
  }
}

@include media-breakpoint-up(sm) {
  .rd-navbar-fixed {
    .rd-navbar-subpanel {
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      left: auto;
      width: 300px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .rd-navbar-fixed {
    .rd-navbar-panel {
      position: static;
      background: transparent;
      box-shadow: none;
      min-height: 80px;
      padding: 0 8px;
    }

    .rd-navbar-sidebar {
      top: 0;
    }
  }
}