@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";

// Variables
$progress-height: 1.5rem;
$progress-bg: lighten($primary,10%);

$progress-height-sm: $progress-height * 0.4;
$progress-font-size-sm: $progress-font-size * 0.75;

$progress-height-lg: $progress-height * 1.5;
$progress-font-size-lg: $progress-font-size * 1.5;

@import "../bootstrap/scss/_mixins";
@import "../bootstrap/scss/_progress";

// Progress size
.progress-sm {
	height: $progress-height-sm;
	font-size: $progress-font-size-sm;
}

.progress-lg {
	height: $progress-height-lg;
	font-size: $progress-font-size-lg;
}

// Progress vertical
.progress-vertical {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: px-to-rem( 200px );
	width: $progress-height;
	vertical-align: middle;
}

// Color themes
@each $color, $value in $theme-colors {
	.progress-#{$color} {
		background-color: $value;
		color: color-yiq( $value );
	}
}

// Offsets
* + .progress {
	margin-top: px-to-rem( 15px );
}

.progress + .progress:not(.progress-vertical) {
	margin-top: px-to-rem( 22px );
}

* + .progress-vertical {
	margin-top: 0;
}

.progress-wrap-1 {
	position: relative;
	z-index: 1;

	.progress-wrap-content {
		padding-right: px-to-rem( 35px );
		@include text-truncate();
	}

	.progress {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		z-index: -1;
		justify-content: flex-end;
		height: $progress-height-lg;
		background-color: transparent;
		transform: translateY( -50% );
		border-radius: 0;
		pointer-events: none;

		.progress-bar {
			align-items: flex-end;
			padding-right: px-to-rem( 5px );
		}
	}

	* + .progress {
		margin-top: 0;
	}

	@include media-breakpoint-up( xl ) {
		.progress {
			font-size: $font-size-base;

			.progress-bar {
				padding-right: px-to-rem( 15px );
			}
		}
	}
}
