// Text shadow

.text-shadow-white {
  text-shadow: 0 0 5px rgba($white, 0.8);
}

.text-shadow-500 {
  text-shadow: 0 2px 3px rgba($gray-500, 0.8);
}

// Text link colors
.link-300 {
  color: $gray-300;

  &:hover,
  &:focus {
    color: $white;
    cursor: pointer;
  }
}

.link-500 {
  color: $gray-500;

  &:hover,
  &:focus {
    color: $gray-300;
    cursor: pointer;
  }
}

.link-white {
  color: $white;

  &:hover,
  &:focus {
    color: rgba($white, .5);
    cursor: pointer;
  }
}

.link-black {
  color: $black;

  &:hover,
  &:focus {
    color: rgba($black, .5);
    cursor: pointer;
  }
}

.text-gray-600 {
  color: $gray-600;
}