@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins/group";

// Variables
$panel-spacer-y: 1.75rem;
$panel-spacer-x: 1.55rem;
$panel-border-width: 1px;
$panel-border-color: $gray-200;
$panel-bg: $white;
$panel-cap-bg: $panel-bg;
$panel-brad: $border-radius;
$panel-title-color: $black;
//阿爾發優惠券樣式
$coupon-b:#E5FAFF;
$coupon-g:#f2faf0;
$coupon-o:#fff8ed;

.coupon-bg{
  &-b{
    background-color: $coupon-b;
  }
  &-g{
    background-color: $coupon-g;
  }
  &-o{
    background-color: $coupon-o;
  }
}


// Base styles
.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $panel-bg;
  background-clip: border-box;
  @include border-radius($panel-brad);
  box-shadow: $box-shadow;
}

.panel-body {
  flex: 1 1 auto;
  padding: px-to-rem(16px) px-to-rem(15px);

  &-border {
    border: 3px solid $panel-cap-bg;
  }

  &-bg {
    color: color-yiq(lighten($panel-cap-bg, 10%));
    background-color: lighten($panel-cap-bg, 10%);
  }
}

.panel-body+.panel-body {
  border-top: 1px solid $panel-border-color;
}

.panel-header {
  padding: px-to-rem(16px) px-to-rem(15px);
  border-bottom: $panel-border-width solid $panel-border-color;
}

.panel-title {
  color: $panel-title-color;
  text-transform: uppercase;
  font-weight: 400;

  >* {
    vertical-align: middle;
  }
}

.panel-icon {
  font-size: 1.1em;
  padding-right: 0.5em;
}

.panel-menu {
  padding: $panel-spacer-y $panel-spacer-x;
  border-bottom: 1px solid $panel-border-color;
  background-color: darken($panel-bg, 5%);
}

.panel-footer {
  padding: $panel-spacer-y $panel-spacer-x;
  border-top: 1px solid $panel-border-color;
  background-color: darken($panel-bg, 5%);
}

*+.panel-footer {
  border-top: 1px solid $panel-border-color;
}

// Offsets
*+.panel {
  margin-top: px-to-rem(13px);
}

.btn-block+.panel {
  margin-top: px-to-rem(15px);
}

.media+.panel {
  margin-top: px-to-rem(20px);
}

h4+.panel {
  margin-top: px-to-rem(20px);
}

.panel+.panel {
  margin-top: px-to-rem(30px);
}

// Media
@include media-breakpoint-up(xl) {
  .panel-header {
    padding: $panel-spacer-y $panel-spacer-x;
  }

  .panel-body {
    padding: $panel-spacer-y $panel-spacer-x;
  }
}


// Modifiers
.panel-border-top {
  border-top: 5px solid;
}

.panel-border-bottom {
  border-bottom: 5px solid;
}

.panel-border-left {
  border-left: 5px solid;
}

.panel-border-right {
  border-right: 5px solid;
}

// Panel size
.panel-sm {
  .panel-header {
    padding: px-to-rem(12px, 10px);
  }

  .panel-body {
    padding: px-to-rem(10px);
  }

  .panel-footer {
    padding: px-to-rem(10px);
  }
}

// Color themes
@each $color,
$value in $theme-colors {
  .panel-#{$color} {
    .panel-header {
      border-bottom-color: $value;
    }

    .panel-title {
      color: $value;
    }

    .panel-body-border {
      border-color: darken($value, 10%);
    }

    .panel-body-bg {
      color: color-yiq($value);
      background-color: $value;
    }

    .panel-menu {
      color: color-yiq(lighten($value, 2%));
      background-color: lighten($value, 2%);
    }

    .collapse-link {
      color: $value;

      &:hover {
        opacity: .7;
      }
    }
  }

  .panel-border-#{$color} {
    border-color: $value;
  }
}

// Panel in the context of accordion
.accordion {
  $sizeX: 0.75rem;

  .panel {
    border-radius: 0;
  }

  .panel-header {
    position: relative;
    padding-left: $sizeX * 2.5;
  }

  .collapse-link {
    transition: .2s;

    &:before {
      position: absolute;
      left: $sizeX;
      top: px-to-rem(18px);
      transform: scale(.7);
      font-family: 'FontAwesome';
      font-size: inherit;
      line-height: inherit;
      font-weight: 400;
      will-change: transform;
      transition: transform .25s;
    }

    &:before {
      content: '\f054';
    }

    &[aria-expanded="true"] {
      &:before {
        transform: scale(.7) rotate(90deg);
      }
    }
  }
}

// Media
@include media-breakpoint-up(xl) {
  .accordion {
    .collapse-link {
      &:before {
        top: $panel-spacer-y;
      }
    }
  }
}

@each $color,
$value in $theme-colors {
  .panel-#{$color} {
    .panel-collapse {
      border-bottom-color: $value;
    }
  }
}

h4+.accordion {
  margin-top: px-to-rem(15px);
}

// Panel in the context of timeline
.panel-timeline {
  overflow: visible;
  margin: 0;
}

@include media-breakpoint-up(md) {
  .panel-timeline {
    .panel-header {
      &::before {
        content: '';
        position: absolute;
        top: 15px;
        left: -5px;
        transform: rotate(45deg);
        width: 12px;
        height: 12px;
        background-color: $gray-700;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .timeline-left {
    .panel-header {
      &::before {
        left: auto;
        right: -5px;
      }
    }
  }
}