@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";

// Variables
$badge-padding-y: .4em;
$badge-padding-x: .7em;
$badge-pill-padding-x: .85em;

@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/badge";

// badge context in navbar button
.btn.button-navbar {
	.badge{
		position: absolute;
		top: -6px;
		left: auto;
		right: -12px;
		padding: 4px;
		width: 19px;
		height: 19px;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 10px;
		line-height: 11px;
		transform: translate(0, 0);
	}
}
