@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";

// Variables
$blockquote-small-font-size:  $font-size-base;
$blockquote-small-color:      $body-color;
$blockquote-font-size:        $font-size-base * 1.1;

@import "../bootstrap/scss/mixins";

// Blockquotes
.blockquote {
	padding: px-to-rem(10px, 20px);
	margin-bottom: 0;
	border-left: 5px solid;
	font-size: $font-size-base * 1.2;
	color: $white;

	@include media-breakpoint-up(lg) {
		@include font-size( $blockquote-font-size );
	}
}

.blockquote-footer {
	display: block;
	@include font-size( $blockquote-small-font-size );
	text-transform: uppercase;
	color: $blockquote-small-color;

	&::before {
		content: "\2014\00A0"; // em dash, nbsp
	}
}

* + .blockquote-footer {
	margin-top: px-to-rem( 12px );
}

// Offsets
* + .blockquote {
	margin-top: 20px;
}

// Modifiers
.blockquote-reverse {
	text-align: right;
	border-left: 0;
	border-right: 5px solid;
}

.blockquote-thin {
	border-width: 3px;
}

.blockquote-rounded {
	border-radius: 11px;
}

// Color themes
@each $color, $value in $theme-colors {
	.blockquote-#{$color} {
		border-color: $value;
	}
}

// Markdown context
.md-editor {
	blockquote {
		padding: px-to-rem(10px, 20px);
		@include font-size($blockquote-font-size);
		border-left: 5px solid $primary;
	}
}
